<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateVoucherStaffServlet</servlet-name>
        <servlet-class>controllers.voucher.CreateVoucherManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVoucherStaffServlet</servlet-name>
        <servlet-class>controllers.voucher.DeleteVoucherManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVoucherStaffServlet</servlet-name>
        <servlet-class>controllers.voucher.EditVoucherManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListVoucherManagerServlet</servlet-name>
        <servlet-class>controllers.voucher.ListVoucherManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateVoucherStaffServlet</servlet-name>
        <url-pattern>/CreateVoucherStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVoucherStaffServlet</servlet-name>
        <url-pattern>/DeleteVoucherStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVoucherStaffServlet</servlet-name>
        <url-pattern>/EditVoucherStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListVoucherManagerServlet</servlet-name>
        <url-pattern>/ListVoucherManagerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
